{
  "semi": true,
  "singleQuote": true,
  "useTabs": false,
  "trailingComma": "all",
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-astro"],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    },
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
