@import 'tailwindcss';
@import 'fumadocs-ui/css/dusk.css';
@import 'fumadocs-ui/css/preset.css';

@source '../node_modules/fumadocs-ui/dist/**/*.js';
@source '../node_modules/fumadocs-openapi/dist/**/*.js';

:root {
  --color-fd-primary: hsl(221.21 83.19% 53.33%);
  --color-fd-secondary: hsl(0 0% 99.7%);
  --color-fd-card: hsl(0 0% 99.7%);
  --color-fd-accent: hsl(0 0% 94.1%);
}

.dark {
  --color-fd-secondary: hsl(240 12% 15%);
  --color-fd-border: hsl(0 0% 15%);
  --color-fd-card: hsl(240 20% 5%);
  --color-fd-accent: hsl(0 0 12.9%);
}

:root.light #nd-nav {
  background-color: white;
}

#nd-subnav a[data-active='true'] {
  color: var(--color-fd-primary);
}

:root.light .fd-codeblock {
  background-color: var(--color-fd-secondary);
}
