[data-command-root] {
  border: 1px solid var(--gray6);
  transition: transform 100ms ease;
}

[data-command-item] {
  content-visibility: auto;

  cursor: pointer;
  height: 48px;
  gap: 8px;
}

[data-command-list] {
  height: min(330px, calc(var(--bits-command-list-height)));
  max-height: 400px;
  overscroll-behavior: contain;
  transition: 200ms ease;
  transition-property: height;
}
