---
import type { Props } from '@astrojs/starlight/props';
---

<div class="content-panel">
  <div class="sl-container"><slot /></div>
</div>

<style>
  .content-panel {
    padding-inline: var(--sl-content-pad-x);
    padding-bottom: 1.5rem;
  }

  .sl-container {
    max-width: var(--sl-content-width);
  }

  @media (min-width: 72rem) {
    .sl-container {
      margin-inline: var(--sl-content-margin-inline, auto);
    }
  }
</style>
