---
import type { Props } from '@astrojs/starlight/props';

import LanguageSelect from '@astrojs/starlight/components/LanguageSelect.astro';
import SiteTitle from '@astrojs/starlight/components/SiteTitle.astro';
import SocialIcons from '@astrojs/starlight/components/SocialIcons.astro';
import ThemeSelect from '@astrojs/starlight/components/ThemeSelect.astro';
import Search from '@astrojs/starlight/components/Search.astro';

const links = Object.entries({
  Changelog: '/changelog',
});
---

<div class="header pr-8 lg:px-4">
  <div class="overflow-hidden flex">
    <SiteTitle {...Astro.props} />
  </div>
  <div class="flex">
    <Search {...Astro.props} />
  </div>
  <div class="hidden lg:flex items-center gap-4">
    <div class="items-center hidden lg:flex mx-auto">
      {
        links.map(([text, href]) => (
          <a
            href={href}
            class="px-4 no-underline text-[--sl-color-text] font-medium"
          >
            <span>{text}</span>
          </a>
        ))
      }
    </div>
    <div class="text-xl">
      <SocialIcons {...Astro.props} />
    </div>
    <div class="w-px bg-border h-6"></div>
    <div>
      <ThemeSelect {...Astro.props} />
    </div>
    <LanguageSelect {...Astro.props} />
  </div>
</div>

<style>
  .header {
    gap: var(--sl-nav-gap);
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  @media (min-width: 50rem) {
    :global(:root[data-has-sidebar]) {
      --__sidebar-pad: calc(2 * var(--sl-nav-pad-x));
    }
    :global(:root:not([data-has-toc])) {
      --__toc-width: 0rem;
    }
    .header {
      --__sidebar-width: max(
        0rem,
        var(--sl-content-inline-start, 0rem) - var(--sl-nav-pad-x)
      );
      --__main-column-fr: calc(
        (
            100% + var(--__sidebar-pad, 0rem) -
              var(--__toc-width, var(--sl-sidebar-width)) -
              (2 * var(--__toc-width, var(--sl-nav-pad-x))) -
              var(--sl-content-inline-start, 0rem) - var(--sl-content-width)
          ) / 2
      );
      display: grid;
      grid-template-columns:
        /* 1 (site title): runs up until the main content column’s left edge or the width of the title, whichever is the largest  */
        minmax(
          calc(
            var(--__sidebar-width) +
              max(0rem, var(--__main-column-fr) - var(--sl-nav-gap))
          ),
          auto
        )
        /* 2 (search box): all free space that is available. */
        1fr
        /* 3 (right items): use the space that these need. */
        auto;
      align-content: center;
    }
  }
</style>
