---
import type { Props } from '@astrojs/starlight/props';

import MobileMenuFooter from '@astrojs/starlight/components/MobileMenuFooter.astro';
import SidebarPersister from '@astrojs/starlight/components/SidebarPersister.astro';
import SidebarSublist from './SidebarSublist.astro';

const { sidebar } = Astro.props;
---

<SidebarPersister {...Astro.props}>
  <SidebarSublist sublist={sidebar} />
</SidebarPersister>
<div class="md:hidden">
  <MobileMenuFooter {...Astro.props} />
</div>
