@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sl-color-bg-sidebar: transparent;
  --top-gradient-bg: hsla(220, 90%, 15%, 0.4);
  --hero-gradient-bg: hsla(200, 85%, 50%, 0.3);
}

:root[data-theme='light'] {
  --top-gradient-bg: hsla(220, 90%, 60%, 0.1);
  --hero-gradient-bg: hsla(200, 85%, 55%, 0.15);
  --sl-color-bg-sidebar: transparent;
}

.page {
  background:
    linear-gradient(185deg, var(--top-gradient-bg), transparent 50vh),
    radial-gradient(var(--hero-gradient-bg), transparent 65%) no-repeat
      calc(100% + 80rem) calc(100% + 100rem) / 180rem 180rem;
}

header {
  border-bottom: 1px solid transparent;
}
@media (min-width: 72rem) {
  header {
    background-color: transparent !important;
    -webkit-backdrop-filter: blur(2rem) !important;
    backdrop-filter: blur(2rem) !important;
  }

  .right-sidebar {
    border-inline-start-color: transparent;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
  :root[data-theme='dark'] {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  blockquote,
  dl,
  dd,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hr,
  figure,
  p,
  pre {
    margin: 0;
  }

  *,
  ::before,
  ::after {
    border-width: 0;
    border-style: solid;
    border-color: theme('borderColor.DEFAULT', currentColor);
  }
}
