@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --astro-code-color-background: #1e293b;
  --sl-color-gray-6: #1e293b;
  --sl-color-bg-sidebar: transparent;
  --top-gradient-bg: hsla(220, 90%, 15%, 0.4);
  --hero-gradient-bg: hsla(200, 85%, 50%, 0.3);
}

:root[data-theme='light'] {
  --top-gradient-bg: hsla(220, 90%, 60%, 0.1);
  --hero-gradient-bg: hsla(200, 85%, 55%, 0.15);
  --sl-color-bg-sidebar: transparent;
}

.page {
  background:
    linear-gradient(185deg, var(--top-gradient-bg), transparent 50vh),
    radial-gradient(var(--hero-gradient-bg), transparent 65%) no-repeat
      calc(100% + 80rem) calc(100% + 100rem) / 180rem 180rem;
}

header {
  border-bottom: 1px solid transparent;
}
@media (min-width: 72rem) {
  header {
    background-color: transparent !important;
    -webkit-backdrop-filter: blur(2rem) !important;
    backdrop-filter: blur(2rem) !important;
  }

@media (min-width: 50rem) {
  .right-sidebar nav {
    background-color: transparent !important;
  }
}}

[aria-current] .trace {
  @apply bg-white text-gray-600 !important;
}
.trace {
  @apply bg-gray-500 dark:bg-gray-500/40 text-white;
}

[aria-current] .head {
  @apply bg-purple-500 text-white !important;
}
.head {
  @apply bg-purple-400/20 text-purple-500 dark:text-purple-400;
}

[aria-current] .options {
  @apply bg-blue-500 text-white !important;
}
.options {
  @apply bg-blue-400/20 text-blue-500 dark:text-blue-400;
}

[aria-current] .post {
  @apply bg-green-600 text-white !important;
}
.post {
  @apply bg-green-400/20 text-green-600 dark:text-green-400;
}

[aria-current] .delete {
  @apply bg-red-500 text-white !important;
}
.delete {
  @apply bg-red-400/20 text-red-500 dark:text-red-400;
}

[aria-current] .patch {
  @apply bg-teal-600 text-white !important;
}
.patch {
  @apply bg-teal-400/20 text-teal-600 dark:text-teal-400;
}

[aria-current] .put {
  @apply bg-orange-500 text-white !important;
}
.put {
  @apply bg-orange-400/20 text-orange-500 dark:text-orange-400;
}

[aria-current] .get {
  @apply bg-blue-500 text-white !important;
}
.get {
  @apply bg-blue-400/20 text-blue-500 dark:text-blue-400;
}

.method {
  @apply rounded-md border-0 font-sans font-bold !important;
}

.operation-description-urls {
  @apply rounded-lg;
}

details[open].operation-description-urls summary {
  border-color: var(--sl-color-gray-5);
  @apply border-b;
}

.expressive-code pre {
  @apply bg-slate-700/50 rounded-b-lg px-1 text-foreground !important;
}

.expressive-code figcaption {
  @apply rounded-t-lg !important;
}

.operation-description-urls input {
  @apply bg-slate-700/50 rounded-lg px-3 py-1.5 text-foreground;
}

.panel {
  @apply rounded-lg text-sm leading-7 font-mono font-light;
}

.panel select {
  @apply bg-slate-700/50 rounded-lg px-3 py-1.5 text-foreground;
}

.required {
  @apply text-red-600 dark:text-red-400 pl-1 !important;
}

.starlight-aside__title {
  @apply text-sm;
}

.starlight-aside {
  @apply rounded-lg border-l-0 pl-5;
}

.starlight-aside__title + .starlight-aside__content {
  @apply mt-1;
}

section:has(> .panel) {
  @apply mb-16 mt-8 !important;
}

#request-body,
#parameters,
#responses {
  @apply text-2xl;
}

#path-parameters,
#query-parameters,
[id='200'],
[id='302'],
[id='401'] {
  @apply text-lg !important;
}

#headers {
  @apply text-base !important;
}

@layer base {
  :root[data-theme='light'] {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 221.21 83.19% 53.33%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 211.7 96.36% 78.43%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --radius: 0.5rem;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
