@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,700&display=swap');

@font-face {
  font-family: 'maplibre-icons';
  src: url('data:font/woff2;charset=utf-8;base64,d09GMgABAAAAAA6IAA8AAAAAH2wAAA4xAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGYACEDAgOCZwMEQgKj2SNfQsaAAE2AiQDMAQgBYVNB4JyDIEcG2Mdo6J+k1ZYsr844MnwRoY4YGBtqBFAEwXNehhC2Nf0vYcajoNNY3lvqgkD0id9rVfEpYSiWUdIMgv/X7annfted4+uuf8112gXGMQiSxL1HFIiQopoIEnm+G/T5i0LgV0sgsQX0xAzIOp4DWJ+CakotA4VF3JaUfnqfYsYPJ+q2ofJ6Uj5yM9kHZjSXJgGtaTTSgNSAYvWMGuYuU0PdO1eNfL3vunrJEqrvhP6KX7LlGfT6kS3A7kdlpFtqv7zc73Ze16SIktEIVGyc++/TNK5L5nfgULmA+G0PFBaJEmgiFv+QHIBWFjyK+Qqt3LX6FVyFcRzqTSy+g/x7G+Qo3Lh0gnFQ39JBJTMxwzW21JvA+6t8/5hSAAHAAT1nrp1vccHzHIlgQDI8xPrkN5qPRHshf0GvD/+9fUPC2RgRKfzp++7UtEJ12FWy/cDXXj8Mz4FRMFGEOGYTeGAnpH5QcRTeTaNcibOFs57NnSfhaHld93UYPrwrvLukdA9If6xkVNQUoEShf8YwnibVDPlIyZURGZVIWsO2ZSWOQGf0rImEKa0xATilJacQJrSsieQTWk5GvceF+IAPg804POBQVrnf/crZo+PwOFjFW6KqjtP3/07I+ngCVdksYmoo7ebCtldEZviu5CTc/GiVdBDYy3ghjId9SBh8g4EqLJwYFCr1kGDtMe+cnnFDxlESckXWxn6MmWYGL8tBbaBcZhbwvWyt6EhJs+EwU0LxmHfd3W1d1PAqL4fpMvD5BVoDkexH6pDgRHejhYRMDBZT0IH+3aNtML1htD86qfrLMfzMSkHC83j7HcobG86V6D5+slWGydv2pR3H6VAeW6ZTp0lmRMmbWKi621kIV2oHkRwemkKrYmpyKGcIMVYNgCYw+YcWgPUldnew4aKsR1TzvJFf5kTL3gRpR9jmyOKq8M9xU+RoVQfHXTIWMA9t0IUm0Bmnty8sTai4mCoWjKKDSXre8EoUX2z7WoYgFeXE7s28clQOuororGYRh28OQipMXkWg0YbBetdQNHoxNmOKzmiAIuDHjATE/MTY5lXAWS9jPUX6A0Vsq6DBZGxwOX8IkhfXFewvkR8Io04vR6BnjUnHPttazVEpluRz/ZheBQVKCN4knE3qUqr6DgkGqOV8dtYlRXgnvVH3t8UjtMYk/8AWQvEVcKM/bjPjAznJlijNm5bBw8FG8pcqil38KE7iMDje8d5W4P5SP8ltIJf7oiGtRXSp1zg8tZNqgxgks4bVpkk7TMGH76FEt5H8R6cgS5fFFt1ED58rcaM1UbsynEoEMPv4YHzwKh6BsQIZZj70q+A/qloTQWaNyVKdR0J7rt3Q5A9+3etgurcNySyvNFutI3045T+yItkMFQu5hu0AMs2QgTzL1Ktf2ICrBSw/C0w0LyM6WuePgZ4vaTz4Rursihb4r2XnuLGjGoZPBEJx+270SFEAUF0iFaBSCwwihc0ShA4JQo6JQkGJYsoShFMShWsEh1U95cklQ/fgkoFej5Q7uvQY8YPNT82NYyfan4+ZxRW6BdlrEL1tKogTTZIQEGKABkC5AhQIECJABUC1AjQIECLUGmE1NZKae0Tw4sM9eoNzVmhwtzoWmcCaXF4bbqOdIhMZUdWaN7Ro3ruRG0kp4xQpaL0HcuR7XKkdwtdV8fhQZTQz1RN7uTKLMhTrouzsQI3ksMrQZGPzKgBQfgPICLppe6ULF2V8znJgdQy5T2AMvk7cuSiulo78ujKEeelqfkomKy5VKIAZAdK3bvu3SPr33aWcGhsROb75aqrl7YdBQCE3yLzBOc2Td+llh4VB0fdXBOpu7xmC4UJqcotAsM8Y4HgPZ2kWm/CcQibwcyDNJtb0XsVCEonYw50kuQDEeNcnehCF6QL4EytQmduZd4llg3T6SSXkT2ZVSr7aXSSd4xCcIL5Yodwp0kKWoE1ymkth+55zEhRQGi2QDjTZuckeko4NdFRpId1RAR6E2i98z2+OAFBCk+gAuRsx5ltQUJalq+NbKGSWq3ZW9XCUwTHxpLfznt32xIyYNaI7uwobfaeb2krzbsN6R5wfFkUXfMGVmiN0qAc+x7G0JhZDFLHqph0ZZDZvGTPmWluvNRdzsxPuwwUxMDaloPC2FFWRa+72C2naweDFaZqqkiAMGr6jdabMrV5sZV1dleppdIdv9tXohAj7svPuD3/I6YRWMmjTmGPr3XH2KhywEYeqaoECqJGuPom7QGrRSVJmvio8QX7fLzn4A5vxSbkdLeltq4OBdAlRi4rrwf5CzVcC4RZpZJJN6lqKt4Ia46x+2jXhB7gUKBZIGqZhAStQnUbGUfCpoDsk5DAAa3DiWOwILusgcg9GQk8huopbaFiqlAxTaiYLlTPCA9ZeJGFD1m0I+sOMo5FJ47RZa9Rt4G8Hp6QjF4kow/J6EcyBpCMQSRjCMkYRmodQYEi43mjSzGsyvwAJXpM4XYOpdXjKIhMfgsZExaimYeg2EfMMosx2yz258xQSnOBYMU8B0vzLUQLDoHZLyw0zVhkmhEwzQg6QIstREssxEsx3oJlpgXLTQtWmBasdIBWWYhCFqoM45e8qW1D2u7xoX3koNbYGP0A5gA/aJZn6pd21AKEug7eQ6s/vD9B38TsMgCvPnGkUQgfcpCmHTaFL2bxaDR2F9QLOFLj04vwcDQQOn8aKOdVAmcukCSsEr50DiFyleDZiwSBIlNwEd6G5LzXtr4OXtrfvOELws537wIUfCv6t4VfvH4eevn2lf3YJyf2iCFwuSBCO6/1THH3uKfMw3S/BBs5PW0+J9/e0eKyAzvXJ20AbMeb220ELfiKnBN8qfuGw8daOuzkvJB8s3hzXBy87mQmHLdf8HDc9kD8FsUWgYB8Q/q2Q0CwQ3CCDKu2JW4TidC7JnCSIlzwmGhXMGGrcqtQSLzFhRwoKNwpPGkL299wHdjmIOR4i1jQGVLsodevA2/ehH8KB4v+3iENP8/ud4yHnoNVTp/F40SDYqL4K50ReEFykGOK2esgOsOvEI2wtRe5beA8ardbHM4uEnXbHJ0AA4CPfn4nunhKdOWq6NIp46mLoqubVIHx4iXwlZh8SUJXmi9dzHp3GRvJ2/RWqKSfWwKs/oressKh4pFgt3KqwhUKuRRTlY8HuchDXuXz7XX3tl7bvuZ2eekpGYIe5UBPsX/FHJ//EftLilTpX9xhvWDL+0v9QoFA+f7yWxeYgzxJ5ftKSfaexpdUOfWyac+ixj3Uy/KX1J6mLEnFt9HY4VI54wWVJVU4u+5Jvq3IsS5l/kiyelPLWpP1fwanprFZzfwVHs8KfjPz+k93xOduFtzcp/7kp+ush/yQnzLRlsnSu/7Likrx15aZM86J72yBeUH5s6YyVYlSWaIq2zvIRR7yesN7qymN8w31en29Z5DLPk/1X9+5XSl1WTH/t7V9++34ETAmheaVFrqpcg39yv/CmioTMcuy0swwram8Qv8/qFpDbh80r8xKo88/hf6rSnNn/vnuqy2b9+79bt++8/e0DVnaqcu/+nvLVhalO/pF2RdlOfObxwoAuvmw/Q3gd/R7161y3f9zNyn2l7cCXetEqRr5x9ax/CJbO7U+nSFEg5u/GSUzHY2S7GyQyfaK8WPjRbEx3DqLTNbkqDRUZ03GhMRRE+gsCO0VRaKf+jrpu9bgkqnB3Boc/Dg05zzg7B8h1mqSk8RUPJVET8N01hgkdkjwBMAwS0M3bHF7rMvw108zIZ4R4uwkbhGUDeBzyiwl5LtmJWJZv9xkO2HE1JSKITaELDRkyprCcxdqTPBkuJhdw7y5aqVYJpamprCH9QviYoCMTyK5+cX7KpiZR8bJk+2qlEXFTC/JLVmeXhaiVMyI10FBlsuuwnBPx2EkPw8t+f4LvoZ6xLWrvqH2Iaej3tvgzcpQKRITuDU7tbOW47xq/xdkIs+Xd1tLqpTFGxR1H2FoIT4Vh9GglaQkM0IcEhNNFCkJ2zVbR6XiccfgWGYWtD1TSF2RLCA/GcsN0bikJ1PkiBnT5WmKNJk0KUEk5HNjoFJVcnmBTNzN0K4+9b1tkaJydthFhtHYu/aL9ifAoEEx0Xwefek7jJGG6QABgv8r09mzvNW/5jxvAf498Pn41MjZlGPAbD99T4K3GeoyNQug9uOU/oSu226YiBpr7oDDEMZwilgDPO9b0ykdyOdh0BJnvkzkLFlmZKxhj1k9DrB2LYtUHOIE6+yykln0DF8xiI04CgVwgyOwTPRXv2VGX41jhzWHA6w1yyJDtZsTrIvLSo7o4eMqpurP/1lfUKah/pS0G+vkpJnV1g+pqGRTlZzkgvMzEm7VHTtpSErSjabVtCzBHcdn9mT4/d0pQSKVRPebwpz497Sw3jaUMcIocxijjx568UOhpgwNFBmYRs7auZ0WU4wwSDrYMD4GofAxgZ9eJI/T9lYouhkRST9d4EGaNNJBbngIxa002cOEfEAfY4TMy+zYlf9eH+qZU6RjxMSAKm+YyfMh9nXynRxnpuAMIqXXzaE3xtEDUVSWCylG0dz/4o6YZ9QI+yNBAWl9brIVY2BxOXTeZS2TKygqKVOuQqUq1erDsNu+0UTtI3oGDR3+sUFDnOdDG/qGxagHHZnwC4vp3z9+g8mlcEepion0DPGSuRHsuMgtJqhkxFDGoYyV4p6uke+l9w1xjTdR3j4lw0GOFO6/vHjAgS4hPOPx3rG+4QHFONkdhgRg50/80XpsUvrweERPSI69N0m28WuYOd68fPzPQFWW8wAOva8nr7693xVZv/LYMl0S04vO5xQ70DueOKkqt7mYv0Sh5uBF20bVufAkfWeeR13zVfjga3t3/DZeSvR6');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'maplibregl-icons-core';
  src: url('data:font/woff2;charset=utf-8;base64,d09GMgABAAAAAA4oAA8AAAAAHWwAAA3PAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGYACEJggwCZwMEQgKjHiMJAsYAAE2AiQDLAQgBYVNB4EdDIEnG/gbsxEVbByIjeH2yf6rBG7IBN/AtuCCCZ3GdRppTSzMKZ0bdheJYECqeVv9FcXdpu5/fQbFhw90OUKSWXj+X6f973PuvZIsA8t5yYACPOBkiDTA9iArQI8IK/jUMXcEqyfsqfqet+01tE5q5nyjSc2BmujEYHIy94oBf2bHvR5Os8rWZt4Qsa0a5oLbDiLEmkVE914qhyQkC4Gn15YGiwpIgVEmlf20ATJsSEcJnx3SBKWjonZR5m1Xfa0peTgHuTFS3XV34+Lt88PT0////frVs++7F9doErpbK+/fEea8977Lm/kihs0f8CQakiYTmQqNRiRbJxJpLEok0TshVh7TAfa67XuDeFoiF9otqsMlB/hTIkBIk53ovgOtMxRuSe+5jW4sACCQN5dbFudTgjiExboI4jzah+pxeQMH+pB+F3jl4PPLH5gQBcUZwHc/Mbd/hh8S/6NqTnUMl8xn+REgBKwEB4NVZFPlQzx/YLElHmwIB1pu+fEVShiUmDZTzLLIHdz1j6lOB4hpkRZhQaZQEcNqRP4LTP8lZ4iAzFx75uEtJWEVasi2DiXDT4Zp/xxerxx9XoBDRIwYEtuqoaoNo1JYNQWnZuGpRfjqDgTqLsr0/kdVV136sV1h6aT+T8M5tbPriEY+WcUP8IDHNDKRt/8YvX2Ld/89sX6Jkde8ku7sC+rlfyD90pnrzHkPr0Ad9qgwx4CAOK8CCvXqAway2DfTF07EAVVKzrHq9CDWwTpRft4TcsafZ1AW2Ju9Xms15khv75qH1O0LMycPrkldR2Nf1Sn7jRRu0tL6SGuTka1nInWmoIiIA2S0ThbCD2+wxfd+REc4mo/wUvIYt90fKbCu6y4ETtw8OSmT2HxUufnVpLpuWTDCfA3TJ5pWk4p+WEtW0r1UHRRyflkx3AqPxEbamJHNwu6DOjnO4S7Becz+HnBMrKi/4rz8K8kc+4h/Ttpmi2JINGOe7D0SUaMFHGQkWC8Lwec04VsksOi8NyQHPFmbnGJ59dtREJpXxy1d72Ug2bi40juip3Tx3xc11mbTscVOylNXdi2peROS+8TZ/Yl/GTcL+CDD9Z6ajil4ZxmLKmDJBW2vkA6S8ctABiIjocD5Pytt6R0kyYZOzkNG7xSiz4wKR3HNGw1lNzQiJzfCoyUqEOtZRl1/JQtJJ7GkjRriJRJpZWDc6wyH35F810QGMkCXARU0Nx9kPz8s9TRN3qm3NR8oomotMVMNAyUgWYQi38BNEooWjVIDdyi5gTJ2j0TuKv+sdLr+ijKzdDfCajpJ71rB28+p2u7QbpPv6d6LqoU76e2nNNF5Y1QnrqEyib4EKvP9kSpSjgZEPdZigFJrZFYF49MQLbv6WI/dS2FKt1R6TfGfOA5HGjN6ilKjyIk2KcYSRlOR6O+BFZnyHiKEnRuimr+zOk5UaulzomJRRhQskjckR8nHXfMnZQKcAzFG4an21EhVa/2Rl+PSLQtEqMwEBxqrEOoSSjcJQ93CUo9wtEx4tFz4tEIEtFJk8sahqr8uXn77Oak0yOc5Zf/AKkT3SP5Mv7r7kPw9aTFOUIwiFiLVYardDURDLwL6ENCPgAEEDCJgCAHDCBhBwCgCxhBCayCtsdLaepmuLIPp7YE+g5JZY68JTXgC0VycMjABkYlsyKCWDb1QjxxrOcFp0psEa6EvWduNmCir05lRumsCOutkEzk+tB7yiOncDTjhbifNl4dENsLDgszeArQ7fKYbdb3OiHlSNkJambCeAVRfUWATmkttYDOZi3Ae2noLqsqsrzQyC+yc8h5fdy8d20SLpJnzhljsN6vOnF8LbAXMXmtYxDrWSe5ec3JAluvLbo2JtN1mmMm2FGnGKsazSJkl3Lg8efHkNu3bcDa4fVucXbQYVQgpXT91ho6zOhhRxvUlnfca6RqWeaE4loXLtSzutPKlXFj6zKIS+eBCx2XDKSHHqBNyhl1mCSx1Wa2cVxfnZQxLkIUtFiCczey7FF1vnmILbFfDNCKCKzK03fjuviOZEBcYo56QS9ltp4cTr5LvCA+pkVa9Q9fkC04PmXh+2+r17RavBru0dN+Gsszc43bVWvH+wqwOGudV6NdveQKVRoHfeUyDaep2LUlrTW3q9HpgN2bFXTfd/p5+EVMf816wNU5Wex/YFru41Pa1m91msjp4bGhG0/5kZm3TKZReWchZ5FsbZ1OVVhrdGPsbfgA1bHiEWXP+KyYWrMXRl2GHtrrhvK2kemORDuaxEawQPnQzy1Sv4U50g38cdmbO8kk95+7AOVuPjeXsHCk9iopeEtnE3RbYslD7dsymqDQy7vorRSUdgzEn0j7qHEePHEmcEEone4nglFDrNB7H4ox26WwvEZyDlnIe+5QgXygNpYu9RXDJUOtyLVRcESquChXXhFrX50MSN5BEiiSmkCybGo90YSFd2EgXDtJtlyVgwwM2fGDDABsBsBECGxGwEQPXJKgw7dlpIxHSMoOycol7PHBRgYp4KhUalUKq0+EjopFHK+90x2DqgSA5QMkRTFM6GAuzhEWCSFglbBJ2CUf3cMpwyXDL8MjwyvDJQj8Q/9lbta+Pt9TbWj0l9c6bxXWCHmZ9undFfZ1QBkE6HYqAXlkeEgElEB/kDsBkLTANWER3/cgE41XqhajY8LK2WiyPFkv/4lkf6kFQX8aVkNWwlC0uh5VkGceU1POyXLxOq4WC9NixGOqQ3L5HIicsviSIdfICyYui5L7qEyeG1Ic6zMFFbWyQKwERywStl2zP8HOiCzgszY8BgthSIA4mx9voZ/3ZU2IZ1C7wS9X8IzDzWHhKrHvC6EBdVh+Cq1pYggmQWdlhOuUjETniGYCZD1ysC8FRbaxgy+wh+XfPPMA4z4gaEUjkZeV5pe1y4PNI292CPSHY30QXi+yfBj8Nv0ms415wMiNI0oABQvxDkddptRX8PsDM7IescJAoXneAzIn80Tu+2uD+MPIaF9pc8qR773eT99upjdTG19vh4e9dGZxts3/zdc7b0l/ZnEi3g8z0+PZ6KjUoxflTH5HdPNtE5O/+hBxtSnxXlaGGoYZWfRHNginEDnH+AbTz3TtEfsuPNme9nPNUmnNNSj0V25mepW5tTswrxYg1o2kWA59lb5o0hN5cTXb359pRZLs6S9neSmHQWT/c7BySeRlFd4DVRI9sRZHjG+u/gJ7Wraq2/XDb6+LGq0fdXTeX/p7tmf2Q/uxJC9tSFE+raqMTW0F+JtVeT6moosCBhB0II9aUpotSfJarQw1DnJb6UeRsR9n/SeKSx22zjk1ujrsHiX+lTtaqwhQf5DMdqMnReEPH0zVLj6PrmpKxKUJkYnT2zQ+bE/8/VHbv1bSGd0/vGdzvd2rnCAOG9xeO7MPDI4zsDRzed3LbfbvCPxfAtcKfwyWiUMauPwCC8pYpuylmKRqtyzXj7GiOkn8pmclvNdrtqHWTT8PE1P/CnXH9hVEnLiA8i4heN6Ja0GOAw5XL1u8aTzyKgRpEWmXhsIogzxqBAsfKtXLV+t3jCZkTp2WxTltHvzh0U5L0olpqA+ckRaTUBsYU2r5YS+oJRBzrSXxQcaLuCZLf1MWkEdWFlcvrfVFfqVjIZ3xqUgv8aDxRh1atkxZq9FmcMynGlNpAZABTvoCwvCcaaAwU84HvOepSD1pRVTFaE6TJ2KoDrc4vZHXvDkJPd1ejXJp7ZCSR/wJHrxVOXEjqVkAMsugk8kgv0ONAqV4DEVLszortZIfL/eagNptDiYnDtYWoGH0C6V1vXQStkmo2K2QLon0+5zlCCT0VnI00Yl1Z1G66+cEjy9qaohq1cbQxFQNApCQmPkWtVoXurmpvrZcKlaH+sqabgmaBwGQiGRVrppRRX9VyPTGmMA8cSUnDwrMuJjm/HqX+/rIbNPpUjIoaeQKxKvYxT/BFDboYiHXOnl9MkXAd9Qu541s2j40Ku3duPph4IGrt6KaxTbUqIzKS8aNxBBCI3t+zvF7c/u+gaP4B8KdPrM26CR21pYdRjyJAQwg8vm1DqfdINgR2Fhp9ByDfBvMi6J2gd4OuAOkCvQXkPkU7PT3HZDmEeYhSYR2vApcKOfz8Cr8bHxu8J+OEgA3jFJ8dbGxqH1tUrXGOLGfYQ3V9XMg484/OUuUtDGIzwBKfcccJJSmOUwqykg2q1WxR7RjniKTNHqrpcSHn5O5DsgzJT/7FfNbewPhHP/uf0/G9ItVK3gSin5bUT9f4Xd/XNPhT/4HvFRp5E2ua7Q1eclv/7qH5yXsG5l5nEXsA6/8eLt+z2xvMFTV7uZ07eJC7WGSeBe4hZoS9jBIzSXPk9TtPsdyY2ykevMhtpNxCTMq93MMClO8mTojnFN9m4VnGt5zHv4ZpbudWGJ+izHnupYOm3IUJ3+Rzux7fXoQdf8wEa2hS4KB9G5WdQuJn2M68m/skT5Kp7DkG7bsYOljMgTg75g44L7142mavUQjfYzm2raxlrWgpCliMkBfPiooRK0488SWQjISSlRzVZ8aaXk9vSe9JVz895/iN2FsO1K0qVVNqVi2qOyruMr01veNpaGv1c3UPBY5+kx+fSl8See0icnf7Ond8CX/Pl+vKWF75lZwvYdi72mwb7Pm2SRCyijKS+34LA/u+NKAvnExfTP5eaNKMGMn5ZkBYj30Xe740HN/m28ETiE1emP68VoO7faXgpDD2Tek8i331S2qp/xU347FvHwAA');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-hover: 0 0% 95%;
    --card-foreground: 240 10% 3.9%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;

    --primary: 217 91% 60%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 0 0% 98%;

    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-hover: 240 10% 12%;
    --card-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;

    --primary: 217 91% 60%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 68% 45%;
    --destructive-foreground: 0 0% 98%;

    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

html,
body {
  @apply h-full;
}

.page-container {
  @apply container mx-auto px-4 md:px-10 py-10 space-y-10;
}

.maplibregl-popup-content {
  @apply !p-0 !bg-popover dark:!bg-dark-2 !text-popover-foreground !drop-shadow-2xl !rounded-lg;
}

.maplibregl-popup-tip {
  @apply !border-none;
}

:root {
  --ml-bg: 0 0% 100%;
  --ml-fg: 0 0% 0%;
}

.dark {
  --ml-bg: 0 0% 5%;
  --ml-fg: 0 0% 100%;
}

.maplibregl-ctrl-group:where(:not([data-clear-ctrl])) {
  background-color: hsl(var(--ml-bg)) !important;
}

.maplibregl-ctrl-group button + button {
  border-top: 1px solid hsl(var(--border)) !important;
}

.maplibregl-ctrl-icon {
  display: unset !important;
  width: unset !important;
  height: unset !important;
  background-image: none !important;
}

:is(.maplibregl-ctrl, .mapboxgl-ctrl)
  button:not([title='Clear filters']):not(:disabled):hover {
  filter: brightness(0.8) !important;
}

:is(.maplibregl-ctrl-group, .mapboxgl-ctrl-group) button:first-child {
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
}

:is(.maplibregl-ctrl-group, .mapboxgl-ctrl-group) button:last-child {
  border-bottom-left-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}

.maplibregl-ctrl-icon::before {
  display: inline-block !important;
  font-style: normal !important;
  font-weight: 400 !important;
  text-align: center !important;
  font-size: 1rem !important;
  height: 1rem !important;
  line-height: 1em !important;
  width: 1rem !important;
}

:is(.maplibregl-ctrl-group, .mapboxgl-ctrl-group) button {
  align-items: center !important;
  background-color: transparent !important;
  box-shadow: 0 0 #0000 !important;
  display: flex !important;
  justify-content: center !important;
  position: relative !important;
  border: 0 !important;
  color: hsl(var(--ml-fg)) !important;
  cursor: pointer !important;
  height: 2rem !important;
  outline: none !important;
  padding: 0 !important;
  transition-duration: 0.3s !important;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, box-shadow !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  width: 2rem !important;
}

.maplibregl-ctrl button.maplibregl-ctrl-fullscreen .maplibregl-ctrl-icon::before {
  content: "\e80b";
}

.maplibregl-ctrl button.maplibregl-ctrl-shrink .maplibregl-ctrl-icon::before {
  content: "\e80f";
}

.maplibregl-ctrl button.maplibregl-ctrl-zoom-out .maplibregl-ctrl-icon::before {
  content: '-' !important;
}

.maplibregl-ctrl button.maplibregl-ctrl-zoom-in .maplibregl-ctrl-icon::before {
  content: '+' !important;
}

.maplibregl-ctrl button.maplibregl-ctrl-compass .maplibregl-ctrl-icon::before {
  content: '\e809' !important;
}
.maplibregl-ctrl button.maplibregl-ctrl-compass .maplibregl-ctrl-icon::after {
  color: hsl(var(--ml-fg)) !important;
  content: '\e80a' !important;
  position: absolute !important;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
}

a.maplibregl-ctrl-logo::before {
  font-family: maplibregl-icons-core, sans-serif;
}

.maplibregl-ctrl .maplibregl-ctrl-attrib-button::before,
.maplibregl-ctrl button .maplibregl-ctrl-icon::before,
.maplibregl-ctrl
  button.maplibregl-ctrl-geolocate:disabled
  .maplibregl-ctrl-icon::after,
.maplibregl-ctrl button.maplibregl-ctrl-compass .maplibregl-ctrl-icon::after {
  font-family: maplibre-icons, sans-serif;

  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;

  font-variant: normal !important;
  text-transform: none !important;

  text-decoration: inherit !important;

  font-style: normal !important;
  font-weight: normal !important;

  display: inline-block !important;
  text-align: center !important;

  width: 1rem !important;
  height: 1rem !important;

  line-height: 1rem !important;

  font-size: 1rem !important;
}

.maplibregl-ctrl
  button.maplibregl-ctrl-geolocate
  .maplibregl-ctrl-icon::before {
  content: '\e80c' !important;
}

.maplibregl-ctrl
  button.maplibregl-ctrl-geolocate:disabled
  .maplibregl-ctrl-icon::after {
  content: '\e80e' !important;
  color: hsl(var(--destructive)) !important;
  position: absolute !important;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, calc(-50% - 1px)) !important;
}

.maplibregl-ctrl
  button.maplibregl-ctrl-geolocate.maplibregl-ctrl-geolocate-active
  .maplibregl-ctrl-icon::before {
  content: '\e80c' !important;
  color: hsl(var(--primary)) !important;
}

.maplibregl-ctrl
  button.maplibregl-ctrl-geolocate.maplibregl-ctrl-geolocate-active-error
  .maplibregl-ctrl-icon::before {
  content: '\e80c' !important;
  color: hsl(var(--destructive)) !important;
}

.maplibregl-ctrl
  button.maplibregl-ctrl-geolocate.maplibregl-ctrl-geolocate-background
  .maplibregl-ctrl-icon::before {
  content: '\e80d' !important;
  color: hsl(var(--destructive)) !important;
}

.maplibregl-ctrl
  button.maplibregl-ctrl-geolocate.maplibregl-ctrl-geolocate-background-error
  .maplibregl-ctrl-icon::before {
  content: '\e80d' !important;
  color: hsl(var(--destructive)) !important;
}

.maplibregl-ctrl
  button.maplibregl-ctrl-geolocate.maplibregl-ctrl-geolocate-waiting
  .maplibregl-ctrl-icon::before {
  animation: maplibregl-spin 2s infinite linear !important;
}

@keyframes maplibregl-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.maplibregl-user-location-dot {
  background-color: hsl(var(--primary)) !important;
  width: 15px !important;
  height: 15px !important;
  border-radius: 50% !important;
}

.maplibregl-user-location-dot::before {
  background-color: hsl(var(--primary)) !important;
  content: '' !important;
  width: 15px !important;
  height: 15px !important;
  border-radius: 50% !important;
  position: absolute !important;
  animation: maplibregl-user-location-dot-pulse 2s infinite !important;
}

.maplibregl-user-location-dot::after {
  border-radius: 50% !important;
  border: none !important;
  content: '' !important;
  height: 19px !important;
  left: -2px !important;
  position: absolute !important;
  top: -2px !important;
  width: 19px !important;
  box-sizing: border-box !important;
  box-shadow: 0 0 3px rgb(0 0 0 / 35%) !important;
}

@keyframes maplibregl-user-location-dot-pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  70% {
    transform: scale(3);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.maplibregl-user-location-dot-stale {
  background-color: hsl(var(--destructive)) !important;
}

.maplibregl-user-location-dot-stale::after {
  display: none !important;
}

.maplibregl-user-location-accuracy-circle {
  background-color: hsla(var(--primary) / 20%) !important;
  border-radius: 100% !important;
}

/* Basic prose styles */
.prose h1 {
  @apply text-4xl leading-[1.11] font-bold;
}

.prose h2 {
  @apply text-2xl leading-[1.33] font-bold mt-[1em];
}

.prose h3 {
  @apply text-xl leading-[1.6] font-semibold mb-2 mt-5;
}

:where(.prose > :first-child) {
  @apply !mt-0;
}

.prose :where(h3 + *) {
  @apply !mt-0;
}

.prose ul {
  @apply list-disc pl-6 mb-4;
}

.prose a {
  @apply font-medium border-b border-b-primary;
}

.prose a:hover {
  @apply border-b-2;
}
