name: Playwright Tests

on:
  push:
    branches: ['main']
    paths:
      - 'src/**'
  pull_request:
    branches: ['main']
    paths:
      - 'src/**'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  e2e_tests:
    name: 'E2E Tests'
    timeout-minutes: 60
    runs-on: ubicloud-standard-4

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@91182cccc01eb5e619899d80e4e971d6181294a7 # v2.10.1
        with:
          egress-policy: audit

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: oven-sh/setup-bun@4bc047ad259df6fc24a6c9b0f9a0cb08cf17fbe5 # v2

      - name: Set up env
        run: cp .env.example .env && sed -i 's/password@db/password@localhost/' .env

      - name: Cache dependencies
        uses: actions/cache@d4323d4df104b026a6aa633fdb11d772146be0bf # v4.2.2
        id: cache-dependencies
        with:
          path: node_modules
          key: packages-${{ hashFiles('bun.lock') }}

      - name: Install dependencies
        if: steps.cache-dependencies.outputs.cache-hit != 'true'
        run: bun install --frozen-lockfile

      - name: Build the app
        run: bun run build

      - name: Start Services
        run: bun run dx:up

      - name: Cache playwright
        id: cache-playwright
        uses: actions/cache@d4323d4df104b026a6aa633fdb11d772146be0bf # v4.2.2
        with:
          path: |
            ~/.cache/ms-playwright
            ${{ github.workspace }}/node_modules/playwright
          key: playwright-${{ hashFiles('bun.lock') }}
          restore-keys: playwright-

      - name: Install playwright
        if: steps.cache-playwright.outputs.cache-hit != 'true'
        run: bunx playwright install --with-deps

      - name: Create the database
        run: bun run db:migrate-dev

      - name: Seed the database
        run: bun run db:seed

      - name: Run Playwright tests
        run: bun run test:e2e

      - uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
        if: ${{ !cancelled() }}
        with:
          name: test-results
          path: '${{github.workspace}}/test-results/*'
          retention-days: 7
